<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/mysite/css/styless.css" rel="stylesheet">
    <title>Title</title>
</head>
<body class="container">
    <h1>Sistema de detecção inteligente</h1>
        <h2>Câmera de segurança</h2>
        <div class="container-border">    
                <img src="{% url 'video-feed-1' %}"  alt="">           
        </div>

        <div class="footer">
              <p> Densenvolvido por Bruna Andrade, Leonardo Sena e Gabriel Luiz Santana. Para mais informações do desenvolvimento acessar o <a href="https://github.com/leosena21/Face-Detection">Git</a> do projeto.</p>  
        </div>
      
    
</body>
</html>